.link {
  text-decoration: none;
  color: rgb(255, 51, 153);
}
.link1 {
  text-align: end;
}
.privacy {
  padding: 5px;
  text-align: center;
  margin: 0px;
}
.privacy >p> a {
  color: rgb(255, 51, 153);
}
.Login {
  width: 400px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* text-align: center; */
  box-sizing: border-box;
  padding: 20px;
  margin-top: 50px;
}
h1{
  margin-top: 0px;
}
form {
  display: flex;
  flex-direction: column;
}
form > input {
  border: 3px solid black;
  padding: 15px 30px;
}
form > button {
  background-color: rgb(255, 51, 153);
  color: white;
  border: none;
  /* border-radius: 5px; */
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 700;
}
.or {
  display: flex;
  align-items: center;
}
.or > hr {
  width: 40%;
}
.google {
  display: flex;
  justify-content: space-around;
  background-color: rgb(53, 146, 245);
  color: white;
  align-items: center;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  /* margin-bottom: 0px; */
}
.google > img,
.facebook > img {
  width: 20px;
  height: 20px;
}
.facebook {
  display: flex;
  justify-content: space-around;
  background-color: rgb(53, 75, 245);
  color: white;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  box-sizing: border-box;
}
