.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 200px;
      height: 30px;
      margin: 10px;
    }
    button {
      width: 200px;
      height: 30px;
      border: 0;
      background-color: purple;
      color: white;
      cursor: pointer;
      font-weight: bold;
    }
    span{
        font-size: 12px;color:red;margin-top: 10px;
    }
  }
}
